<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
    <title>Search Books</title>
  </head>
<body>
  <%- include('../layout/header') %>
  <section>
    <ul>
      <div><%=books.length %> Saved Books</div>
      <% books.forEach(book => { %>
      <%- include('./book/details', {book: book}) %>
      <a href="/books/<%=book.id%>">Show Details</a>
      <% }) %>
    </ul>
  </section>

</body>

</html>