<% books.forEach(book => { %>
  <section>
      <h1><%= book.title %></h1>
      <h2><%= book.rows %></h2>
      <h3><%= book.author %></h3>
      <p><%= book.description %></p>
      <p> <%= book.isbn %></p> 
       </section>
    <% }) %>